--- blackfin-linux-dist/linux-2.6.x/arch/blackfin/Kconfig	2009-08-12 00:28:53.000000000 +0300
+++ blackfin-linux-dist/linux-2.6.x/arch/blackfin/Kconfig	2009-09-07 17:18:03.000000000 +0300
@@ -387,6 +387,27 @@
 	  to the kernel, you may specify one here. As a minimum, you should specify
 	  the memory size and the root device (e.g., mem=8M, root=/dev/nfs).
 
+comment "Hardware addresses"
+
+config IP0X_NET1
+       hex "DM9000 eth0 hardware address"
+       default 0x20100000
+       help
+         Base address of DM9000A Ethernet chip used for eth0
+
+config IP0X_NET2
+       hex "DM9000 eth1 hardware address"
+       default 0x20200000
+       help
+         Base address of DM9000A Ethernet chip used for eth1
+
+config IP0X_USB
+       hex "ISP1362 address"
+       default 0x20300000
+       help
+         Base address of ISP1362 USB controller
+
+
 config BOOT_LOAD
 	hex "Kernel load address for booting"
 	default "0x1000"
@@ -456,6 +477,7 @@
 	default "20" if BFIN561_EZKIT
 	default "16" if (H8606_HVSISTEMAS || BLACKSTAMP || BFIN526_EZBRD || BFIN518F_EZBRD)
	default "25" if BFIN527_AD7160EVAL
+	default "40" if BFIN532_IP0X
 	help
 	  This controls the frequency of the on-chip PLL. This can be between 1 and 64.
 	  PLL Frequency = (Crystal Frequency) * (this setting)
--- blackfin-linux-dist/linux-2.6.x/drivers/mtd/nand/Kconfig	2011-05-19 16:47:17.000000000 +0300
+++ blackfin-linux-dist/linux-2.6.x/drivers/mtd/nand/Kconfig	2011-05-19 17:04:00.000000000 +0300
@@ -488,4 +488,47 @@
 	  This enables the driver for the NAND Flash on evaluation board based
 	  on w90p910.
 
+config BFIN_NAND_PLAT_BASE
+	hex "NAND Flash Base Address"
+	depends on MTD_NAND_PLATFORM
+	default 0x20000000
+	help
+	  NAND Flash Base Address
+ 
+config BFIN_NAND_PLAT_SIZE
+	hex "NAND Flash Size"
+	depends on MTD_NAND_PLATFORM
+	default 0x10000000
+	help
+	  NAND Flash size, for example 0x10000000 for 256Mbyte, or
+	  0x02000000 for 32MByte.  The NAND will be divided into
+	  two partitions.  The first partition is 8M (kernel), the
+	  second partition the remaining space (e.g. yaffs).
+ 
+config BFIN_NAND_PLAT_CLE
+	int "NAND Flash Command Latch Enable (CLE) Address strobe A[x]"
+	depends on MTD_NAND_PLATFORM
+	range 1 19
+	default 2
+	help
+	  NAND Flash Command Latch Enable (CLE) Address strobe A[x]
+ 
+config BFIN_NAND_PLAT_ALE
+	int "NAND Flash Address Latch Enable (ALE) Address strobe A[x]"
+	depends on MTD_NAND_PLATFORM
+	range 1 19
+	default 1
+	help
+	  NAND Flash Address Latch Enable (ALE) Address strobe A[x]
+ 
+config BFIN_NAND_PLAT_READY
+	int "NAND Flash Ready Strobe PF[x]"
+	depends on MTD_NAND_PLATFORM
+	range 0 15 if (BF533 || BF532 || BF531)
+	range 0 47 if (BF534 || BF536 || BF537)
+	range 0 47 if BF561
+	default 10
+	help
+	  NAND Flash Ready Strobe PF[x]
+
 endif # MTD_NAND
--- blackfin-linux-dist/linux-2.6.x/arch/blackfin/mach-bf533/boards/Kconfig	2011-05-20 20:33:49.000000000 +0300
+++ blackfin-linux-dist/linux-2.6.x/arch/blackfin/mach-bf533/boards/Kconfig	2011-05-20 20:34:13.000000000 +0300
@@ -34,7 +34,7 @@
 
 config BFIN532_IP0X
 	bool "IP04/IP08 IP-PBX"
-	depends on (BF532)
+	depends on (BF532 || BF533)
 	help
 	  Core support for IP04/IP04 open hardware IP-PBX.
 
