#Note that mtd2 from linux perspective is "linux kernel(spi)". Uboot is writing the envirounment
#at offset 0x30000 from the begining of the uboot (begining of mtd1) which is offset 0x10000 
#from the begining of mtd2. 
#Writting to "linux kernel(spi)" from linux can distroy uboot envirounment!!!   
# MTD device name       Device offset   Env. size       Flash sector size
/dev/mtd2               0x10000         0x10000         0x1000
